body {
    font-size: 20px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-weight: 400;
    font-family: Poppins;
}
.main {
    background: #f8f8f8;
    padding: 50px 0;
}
.form-title {
    margin-bottom: 23px;
}
h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: 'Bagel Fat One', cursive;
    font-size: 36px;
}
.fillform{
    margin-bottom: 50px;
}
section {
    display: block;
}
.content {
    padding: 50px 0;
    display: flex;
}
.container {
    width: 1300px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}

.form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
}
.form {
    width: 60%;
    overflow: hidden;
}

.form-control {
    outline: none;
    width: 100%;
    display: block;
    border: 1px solid #999 !important;
    padding: 6px 30px;
    color: #222;
    font-family: 'Tsukimi Rounded', sans-serif;
    box-sizing: border-box;
    
}

.btn-primary {
    font-size: 20px;
    padding: 10px 34px;
    margin-top: 25px;
    cursor: pointer;   
    font-family: 'Bagel Fat One', cursive;
    font-family: 'Tsukimi Rounded', sans-serif;
}
.image{
    width: 50%;
    overflow: hidden;
}

label{
    font-size: 18px !important;
    font-family: 'Bagel Fat One', cursive;
    font-family: 'Tsukimi Rounded', sans-serif;
}
figure {
    margin: 60px 20px !important;
}
